@{
    ViewBag.Title = "About";
}



<h1 >Web-Scraping for Online Immigration Forms</h1>
<hr />
<hr />
<p class="jumbotron">
    INSZoom is an immigration software company, with solutions for immigration lawyers, corporations, universities, healthcare organizations and non-profit groups. They provide a comprehensive platform that allows clients to share and process valuable information online, process immigration applications quickly and stay compliant while doing so.
    The forms and fields in the government immigration websites keeps changing frequently and the business demands to have updated forms being made available to all the customers of Inszoom at all times. This enables the system to work in collaboration with the Government websites and the users can avail their services without any difficulties, hence there is a need for a software solution that can notify the changes in the Government forms in immigration websites in real time.
</p>
