@{
    ViewBag.Title = "Contact";
}


<br />
<img src="~/Images/kletechlogo.png" />
<h2>6th sem School of Computer Science and Engineering</h2>
<table border="2" width="70%">
    <tr>
        <th>Name    </th>
        <th>USN </th>
        <th>Roll No </th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    <tr>
        <td>Ragu Raj Rai    </td>
        <td>01FE1BCS157 </td>
        <td>177 </td>
        <td>raidestro@gmail.com</td>
        <td>9606721866</td>
    </tr>
    <tr>
        <td>Sagar Bammigatti    </td>
        <td>01FE1BCS171 </td>
        <td>187 </td>
        <td>bammigattisagar@gmail.com</td>
        <td>9482429236</td>
    </tr>
    <tr>
        <td>Unnati Baruwad</td>
        <td>01FE1BCS219</td>
        <td>242</td>
        <td>unnatibabruwad98@gmail.com</td>
        <td>9742917420</td>
    </tr>
    <tr>
        <td>Vinayak Madhurkar</td>
        <td>01FE1BCS228</td>
        <td>251</td>
        <td>vinayak.madhurkar@gmail.com</td>
        <td>7760760819</td>
    </tr>
</table>